*.o
Makefile
Makefile.in
aclocal.m4
allegro.log
autom4te.cache/
build/
compile
config.log
config.status
configure
depcomp
elkulator
elkulator-test
install-sh
missing
src/.deps/
src/.dirstamp
src/Elkulator.exe
src/Makefile
src/Makefile.in
src/elkulator
src/elkwin.res
test/.deps
test/ElkulatorTest.exe
test/elkulator-test
