*.o
Makefile
Makefile.in
aclocal.m4
allegro.log
autom4te.cache/
compile
config.log
config.status
configure
depcomp
elkulator
elkulator-test
install-sh
missing
src/.deps/
src/.dirstamp
src/Makefile
src/Makefile.in
src/elkulator
test/.deps
test/elkulator-test
